
data/02_Zalando_freetobe_AW19.jpg
.DS_Store
.DS_Store
data/zalando.png
data/output image name.png
.DS_Store
.DS_Store
data/resized_image_3.png
data/resized_image_2.png
data/resized_image_1.png
img_test/download.png
.DS_Store
.DS_Store
__pycache__/JJ_model.cpython-38.pyc
data/fashion-mnist_train.csv
data/state_dict_model.pt
data/model_v1.pkl
